html {
  box-sizing: border-box;
  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 700;
  line-height: 1.04;
  letter-spacing: -0.08em;
  overflow-x:hidden;
  color: #333333;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin-right: auto;
  margin-left: auto;
  
}

.error {
  font-size: 24px;
  font-family: Inconsolata;
  text-transform: uppercase;
}

.hero-section__hero-overlay {
  height: 100vh;
}

.hero-section__hero-title {
  letter-spacing: -0.035em;

}

.hero-section__hero-subtitle {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.035em;

  color: #4f4f4f;
}

.hero-section__hero-button {
  background-color: #333333;
  padding: 24px 43px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  cursor: pointer;

  color: #ffffff;
  transition: background-color 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hero-section__hero-button:hover,
.hero-section__hero-button:focus {
  background-color: #1f1e1e;
}

.creator {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;

  color: #bdbdbd;
}
.creator-link {
  padding-left: 2px;
  padding-right: 2px;

  text-decoration: underline;
  color: #BDBDBD;
}
/* Mobile */
@media screen and (max-width: 1439px) {
  .container {
    width: 375px;
    padding: 20px 24px 24px 24px;
  }
  .error {
    margin-bottom: 64px;
  }
  .hero-section__scarecrow {
    margin-left: auto;
    margin-right: auto;
    min-width: 286px;
    min-height: 238px;
    margin-bottom: 60px;
  }
  .hero-section__hero-title {
    font-size: 47px;
    line-height: 1.47;
    margin-bottom: 30px;
  }
  .hero-section__hero-subtitle {
    font-size: 18px;
    width: 315px;
    margin-bottom: 66px;
  }
  .hero-section__hero-button {
    margin-bottom: 114px;
  }
  .creator {
    margin-top: 114px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding: 40px 24px 77px 77px;
  }
  .error {
    margin-bottom: 200px;
  }
  .hero-section__hero-overlay {
    display: flex;
    justify-content: space-around;
  }
  .hero-section__scarecrow {
    max-width: 540px;
    min-height: 448px;
  }
  .hero-section__hero-title {
    width: 586px;
    font-size: 64px;
    line-height: 1.48;
    margin-bottom: 36px;
  }
  .hero-section__hero-subtitle {
    width: 381px;
    font-size: 24px;
    margin-bottom: 64px;
  }
  .hero-section__hero-button {
    margin-bottom: 308px;
  }
  .creator {
    margin-top: 308px;
  }
}